/*---------------------------
 * font-size
 *---------------------------*/
$font-s: 14px;
$font-m: 15.5px;
$font-l: 17px;

/*---------------------------
 * color
 *---------------------------*/
/* default font color */
$font-color: #eae9e5;

/* default background color */
$bgc: #0a4f56;

/* other color */
