// styleInHtml
@use 'variables';
@use 'utilities';

/*---------------------------
 * reset style
 *---------------------------*/
@use "~@cycjimmy/sass-lib/reset/special";

html {
  font-size: variables.$font-m;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: variables.$bgc;
  color: variables.$font-color;
  font-size: variables.$font-m;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

